<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../public/style2.css">
    <link rel="scripts" href="script.js">
    
</head>
<body>
    <nav id="navbar">
        <ul>
            <div id="navlogo">
                <img src="../public/photos/navlogo.png" alt="img" class="topnavlogo" id="imglogo"> <span id="id">Tech Fest 2022
                </span>
            </div>
            <li> <a href="index2.ejs"> Home</a></li>
            <li> <a href="index2.ejs"> Events</a></li>
            <li> <a href="#contactheading"> Contact</a></li>
            <li> <a href="index2.ejs"> About</a></li>

            <!-- <div id="searchicon">
                <img src="photos/searchicon.png" alt="img">
            </div>
            <input type="text" placeholder="Search.." name="search" id="searchbar"> -->

            <form class="formbtn">
                <input type="search" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
            <div class="navbtn">
                <li> <a href="loginform.ejs" id="loginid"> LOGIN</a></li>
                <li> <a href="signupform.ejs" id="signupid"> SIGN UP</a></li>
            </div>
        </ul>
    </nav>

    <div class="robocontainer1">
        <div class="robocont1img">
            <img src="../public/photos/hackathon.jpg" alt=" img" height="360px" width="500">
        </div>
        <div class="robocont1matter">
            <h2>
                Hackathon
            </h2>
            <br>
            <h1>
                The Hack is Back. You Light My Fire (wall) Hack.</h1><br>
            <p>
                It is a competition among professional students out in the country to showcase their talent.
                A hackathon is an event designed to use technology, primarily coding, to accomplish an objective.
                There’s no question that hackathons have taken the world by storm, spurring the development of 
                everyday products and moving millions of dollars.Hackathon is a University level initiative to
                provide our students a platform to identify and provide solution to some of the pressing problems
                that we face in our day to day life, thereby inculcating a culture of product innovation and a mindset
                of problem solving.Hackathon is a seamless digital product development competition, where burning 
                problems of the society are posed to technically enriched students in order to come up with innovative 
                solutions.Hackathon is aimed at identifying ten different themes that address the current and future
                pressing problems in the society. The themes include problems pertaining to agriculture, Drones, etc.
            </p>
            <br>
            <a href="registerform.ejs">
            <button type="button" class="buttonrobo">Register</button>
        </a>
            <button type="button" class="buttonrobowithdrawform">WithDraw Form</button>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="roboboxes4">
        <div id="robobox1">
            <h1>Date</h1>
            <br>
            <p>25th October 2022 &nbsp;
                <br>
            </p>
        </div>
        <div id="robobox2">
            <h1>Location</h1>
            <br>
            <p>IIITM Gwalior</p>
        </div>
        <div id="robobox3">
            <h1>Prize Money</h1>
            <br>
            <p>Prizes worth INR</p>
            <br>
            <p>70,000/- &nbsp; </p>
        </div>
        <div id="robobox4">
            <h1>Type</h1>
            <br>
            <p>Contest</p>
        </div>
    </div>

    <div class="robosteps">
        <div class="roborules">
            <h1>Rules</h1>
            <br>
            <ul>
                <li>Team must consist of 6 memebers each and maximum of 11 members</li><br>
                <li>Treat everyone with respect</li><br>
                <li>Give constructive feedback</li><br>
                <li>Meet deadlines</li><br>
            </ul>
            <br><br><br><br>
            <h1>Procedure</h1>
            <br>
            <ul>
                <li>H</li><br>
                <li>P</li><br>
                <li>K</li><br>
                <li>L</li><br>
                <li>G</li><br>
            </ul>
            <br><br><br>
            <!-- <h1>Contact</h1><br><br>
            <p>K.kaushik : 9885432100</p> -->
        </div>
    </div>
    <hr>
    <div class="container4">
        <br>
        <br>
        
        <section class="contactsection">
            <div>
                <h1 id="contactheading">
                    CONTACT US
                </h1>
                <br>
                <h3>Have Queries?Reach out to us anytime!</h3>
                <br>
                <h3 id="contact1"> &#128222; &nbsp; K.kaushik &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 9885432100</h3>
                <h3 id="contact2">&#128222; &nbsp; K.Sriram &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 9988556600</h3>
                <br>
                <h2 id="emailsymbol">
                    ✉info@techgeeks.org.in
                    <br>
                    ✉support@techgeeks.org.in
                </h2>
                <br>
            </div>

            <h3 id="connecttext"> Connect with us on </h3>
            <h2 id="dotcolor"> :</h2>
            <div id="contactmediaphotos">
                <img src="../public/photos/OIP (4).jpg (4).jpg" alt="" height="50px" id="instaimg">
                &nbsp; &nbsp;
                <img src="../public/photos/OIP (2).jpg (2).jpg" alt="" height="50px">
                &nbsp; &nbsp;
                <img src="../public/photos/OIP (3).jpg (3).jpg" alt="" height="50px">
                &nbsp; &nbsp;
                <img src="../public/photos/OIP (1).jpg (1).jpg" alt="" height="50px">
                <h2 id="reserved">
                    @TechFest2022 || &nbsp; ALL Rights reserved.
                </h2>
            </div>
        </section>
        <section class="contactimg">
            <img src="../public/photos/Screenshot (4).png (4).png" alt="" height="400px">
        </section>
    </div>

</body>
</html>