<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Fest</title>

    <link href="../public/style2.css" rel="stylesheet" type="text/css" >
    <link rel="scripts" href="script.js">

</head>

<body>
    <nav id="navbar">
        <ul>
            <div id="navlogo">
                <img src="../public/photos/navlogo.png" alt="img" class="topnavlogo" id="imglogo"> <span id="id">Tech Fest 2022
                </span>
            </div>
            <li> <a href="#gap"> Home</a></li>
            <li> <a href="#para4"> Events</a></li>
            <li> <a href="#contactheading"> Contact</a></li>
            <li> <a href="#symbolcss5"> About</a></li>

            <!-- <div id="searchicon">
                <img src="photos/searchicon.png" alt="img">
            </div>
            <input type="text" placeholder="Search.." name="search" id="searchbar"> -->

            <form class="formbtn">
                <input type="search" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
            <div class="navbtn">
                <li> <a href="loginform.ejs" id="loginid"> LOGIN</a></li>
                <li> <a href="signupform.ejs" id="signupid"> SIGN UP</a></li>
            </div>

        </ul>

    </nav>
    <div class="background">
        <br>
        <br id="gap">
        <br>
        <br>
        <br>

        <h1 id="heading1">
            TechnoGeeks
        </h1>
        <br>
        <h2 id="heading2">
            presents
        </h2>
        <div class="symbolclass">
            <p id="symbolcss5"> ⇣ </p>
        </div>

        <div class="container1">
            <strong>
                <p id="para1"> U &nbsp N &nbsp R &nbsp A&nbsp V&nbsp E&nbsp L&nbsp L&nbsp I&nbsp N&nbsp G </p>
            </strong>
            <br>
            <br>
            <div class="animation">
                <p id="para2">ETHIGMAS</p>
            </div>
            <br>
            <br>
            <br>
            <p id="para3">As the annual tech fest of TECH FEST 2022 <br>has provided a podium for engineering
                institutions.We Celebrate the Unravelling Enigmas</p>
        </div>
        <br>
        <h2 id="aboutheading">
            ABOUT &nbsp;<p id="slash">:</p>
        </h2>
        <div class="about1">
            <p id="para4">About
                Tech Fest 2022, the conjugation of the finest technical minds of the country is the annual technical
                fest.
                It is a platform for your ideas to speak out loud and to promote the skills aiming to reach the pinnacle
                of your mind.
                Carrying the legacy since 2003, Tech Fest has been a stage for engineering innovations and to make raw
                ideas echo setting
                new benchmarks of quality over the past 19 years. Tech Fest has established itself as a brand recognised
                by the intellectuals
                and professionals of diverse fields across the nation. It will be a 3-day voyage towards your cerebral
                awakening and technical excellence.
            </p>
        </div>
        <br>
        <a href="registerform.ejs">
            <button type="button" class="button" onclick="">Register</button>
        </a>
        <h1 id="heading3">
            EVENTS
        </h1>
        <br>
        <br>

    </div>
    <div class="container2">
        <div class="box1">
            <div class="icon1">
                <img src="../public/robo.jpg" alt="" height="230px" width="98%">
                <div class="sentence">
                    <a href="robo.ejs">
                        <p class="robopara"> Roboverse</p>
                    </a>
                    <a href="robo.ejs">
                        <p class="arrowfunc">></p>
                    </a>
                    <a href="robo.ejs">
                        <p class="arrowfunc12">> </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="box2">
            <div class="icon2">
                <img src="../public/photos/debugging.jpg" alt="" height="230px" width="98%">
                <div class="sentence">
                    <a href="debug.ejs">
                        <p class="debugpara"> DeBug</p>
                    </a>
                    <a href="debug.ejs">
                        <p class="arrowfunc">></p>
                    </a>
                    <a href="debug.ejs">
                        <p class="arrowfunc12"> > </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="box3">
            <div class="icon3">
                <a href="robo.html">
                    <img src="../public/photos/hackathon.jpg" alt="" height="230px" width="98%">
                </a>
                <div class="sentence">
                    <a href="hackathon.ejs">
                        <p class="hackpara"> Hackathon</p>
                    </a>
                    <a href="hackathon.ejs">
                        <p class="arrowfunc">></p>
                    </a>
                    <a href="hackathon.ejs">
                        <p class="arrowfunc12"> > </p>
                    </a>
                </div>

            </div>
        </div>
        <br>
        <br>

        <div class="box4">
            <div class="icon4">
                <img src="../public/photos/personalbot.png" alt="" height="230px" width="98%">
                <div class="sentence">
                    <a href="bot.ejs">
                        <p class="botpara"> Bot</p>
                    </a>
                    <a href="bot.ejs">
                        <p class="arrowfunc4">></p>
                    </a>
                    <a href="bot.ejs">
                        <p class="arrowfunc12"> > </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="box5">
            <div class="icon5">
                <img src="../public/photos/treasure.png" alt="" height="230px" width="98%">
                <div class="sentence">
                    <a href="cryptohunt.ejs">
                        <p class="cyptopara"> CyptoTreasure</p>
                    </a>
                    <a href="cryptohunt.ejs">
                        <p class="arrowfunc5">></p>
                    </a>
                    <a href="cryptohunt.ejs">
                        <p class="arrowfunc12"> > </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="box6">
            <div class="icon6">
                <img src="../public/robo.jpg" alt="" height="230px" width="98%">
                <div class="sentence">
                    <p class="festpara"> Roboverse</p>
                    <p class="arrowfunc">></p>
                    <p class="arrowfunc12"> > </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container3">
        <p id="sponsorstitle">SPONSORS</p>
        <br>
        <br>
        <div class="sponsorimg">
            <div class="titlesize">
                <p>Event SponSors</p>
            </div>

            <img src="../public/photos/Techfest.jpg" alt="">

            <div>
                <h1 class="textoverline"> Tech Fest</h1>
            </div>

        </div>
        <br>
        <br>
        <br>
        <div class="sponsorimg">
            <div class="titlesize">
                <p>Co-Organiser</p>
            </div>
            <img src="" alt="">
            <div>
                <h1 class="textoverline"> Tech Fest</h1>
            </div>

        </div>
        <div class="sponsorimg">
            <div class="titlesize">
                <p>Volunteer SponSors</p>
            </div>
            <img src="" alt="">
            <div>
                <h1 class="textoverline"> Tech Fest</h1>
            </div>

        </div>
        <div class="sponsorimg">
            <div class="titlesize">
                <p>PromotionaL PartNers</p>
            </div>
            <img src="" alt="">
            <div>
                <h1 class="textoverline"> Tech Fest</h1>
            </div>

        </div>
        <div class="sponsorimg">
            <div class="titlesize">
                <p>Media SponSors</p>
            </div>
            <img src="" alt="">
            <div>
                <h1 class="textoverline"> Tech Fest</h1>
            </div>
        </div>
        <div class="sponsorimg">
            <div class="titlesize">
                <p>WorkShop SponSors</p>
            </div>
            <img src="" alt="">
            <div>
                <h1 class="textoverline"> Tech Fest</h1>
            </div>
        </div>
        <br>
    </div>

    <div class="container4">
        <br>
        <br>

        <section class="contactsection">
            <div>
                <h1 id="contactheading">
                    CONTACT US
                </h1>
                <br>
                <h3>Have Queries?Reach out to us anytime!</h3>
                <br>
                <h3 id="contact1"> &#128222; &nbsp; K.kaushik &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 9885432100</h3>
                <h3 id="contact2">&#128222; &nbsp; K.Sriram &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 9988556600</h3>
                <br>
                <h2 id="emailsymbol">
                    ✉info@techgeeks.org.in
                    <br>
                    ✉support@techgeeks.org.in
                </h2>
                <br>
            </div>

            <h3 id="connecttext"> Connect with us on </h3>
            <h2 id="dotcolor"> :</h2>
            <div id="contactmediaphotos">
                <img src="../public/photos/OIP (4).jpg (4).jpg" alt="" height="50px" id="instaimg">
                &nbsp; &nbsp;
                <img src="../public/photos/OIP (2).jpg (2).jpg" alt="" height="50px">
                &nbsp; &nbsp;
                <img src="../public/photos/OIP (3).jpg (3).jpg" alt="" height="50px">
                &nbsp; &nbsp;
                <img src="../public/photos/OIP (1).jpg (1).jpg" alt="" height="50px">
                <h2 id="reserved">
                    @TechFest2022 || &nbsp; ALL Rights reserved.
                </h2>
            </div>
        </section>
        <section class="contactimg">
            <img src="../public/photos/Screenshot (4).png (4).png" alt="" height="400px">
        </section>
    </div>


</body>

</html>