<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="../public/style2.css">
    <link rel="scripts" href="script.js">

    <style>
        form{
            border: 3px solid #f1f1f1;
        }
        input[type=text],
        input[type=password]{
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        button{
            background-color: #04aa6D;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }
        button:hover{
            opacity: 0.8;
        }
        .cancelloginbtn{
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }
        .loginformimg{
            text-align: center;
            margin: 24px 0 12px 0;
            padding:40px ;
        }
        .loginformimg img{
            width: 40%;
            border-radius: 50%;
        }
        .logincontainer1{
            padding: 16px;
        }
        span.psw{
            float: right;
            padding-top: 16px;
        }
        @media screen and (max-width:300px) {
            span.psw{
                display: block;
                float: none;
            }
            .cancelloginbtn{
                width: 100%;
            }
        }
    </style>


</head>
<body>

    <nav id="navbar">
        <ul>
            <div id="navlogo">
                <img src="../public/photos/navlogo.png" alt="img" class="topnavlogo" id="imglogo"> <span id="id">Tech Fest 2022
                </span>
            </div>
            <li> <a href="index2.ejs"> Home</a></li>
            <li> <a href="index2.ejs"> Events</a></li>
            <li> <a href="#contactheading"> Contact</a></li>
            <li> <a href="index2.ejs"> About</a></li>

            <!-- <div id="searchicon">
                <img src="photos/searchicon.png" alt="img">
            </div>
            <input type="text" placeholder="Search.." name="search" id="searchbar"> -->

            <form class="formbtn">
                <input type="search" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
            <div class="navbtn">
                <li> <a href="loginform.ejs" id="loginid"> LOGIN</a></li>
                <li> <a href="signupform.ejs" id="signupid"> SIGN UP</a></li>
            </div>
        </ul>
    </nav>

    <form action="/loginform" method="post">
        <div class="loginformimg">
            <img src="" alt="">
        </div>
        <div class="logincontainer1">
            <label for="id">
                <b>id</b>
                <input type="text" placeholder="Enter Username" name="id" required>
                <label for="password">
                    <b>Password</b>
                </label>
                <input type="text" placeholder="Enter Password" name="password" required>
                <button type="submit">Login</button>
                <label for="checkbox" checked="checked" name="remember">Remember me</label>
            </label>
        </div>

        <div class="logincontainer1">
            <a href="loginform.ejs">
                <button type="button" class="cancelloginbtn" >Cancel</button>
            </a>
            <span class="psw">Forgot <a href="#">Password?</a></span>
        </div>
    </form>
    
    
</body>
</html>