<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../public/style2.css">
    <link rel="scripts" href="script.js">

</head>
<body>
    <nav id="navbar">
        <ul>
            <div id="navlogo">
                <img src="../public/photos/navlogo.png" alt="img" class="topnavlogo" id="imglogo"> <span id="id">Tech Fest 2022
                </span>
            </div>
            <li> <a href="index2.ejs"> Home</a></li>
            <li> <a href="index2.ejs"> Events</a></li>
            <li> <a href="#contactheading"> Contact</a></li>
            <li> <a href="index2.ejs"> About</a></li>

            <!-- <div id="searchicon">
                <img src="photos/searchicon.png" alt="img">
            </div>
            <input type="text" placeholder="Search.." name="search" id="searchbar"> -->

            <form class="formbtn">
                <input type="search" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
            <div class="navbtn">
                <li> <a href="loginform.ejs" id="loginid"> LOGIN</a></li>
                <li> <a href="signupform.ejs" id="signupid"> SIGN UP</a></li>
            </div>
        </ul>
    </nav>






</body>
</html>